<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.irinalyamina.appnetworkforphotographers">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_camera"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_camera_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppNetworkForPhotographers"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".controllers.authorization.AuthorizationActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppNetworkForPhotographers.Authorization">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controllers.authorization.RegistrationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppNetworkForPhotographers.Authorization" />
        <activity
            android:name=".controllers.home.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppNetworkForPhotographers.NoActionBar" />
        <activity
            android:name=".controllers.search.SearchActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppNetworkForPhotographers.NoActionBar" />
        <activity
            android:name=".controllers.map.MapActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppNetworkForPhotographers.NoActionBar" />
        <activity
            android:name=".controllers.messenger.MessengerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppNetworkForPhotographers.NoActionBar" />
        <activity
            android:name=".controllers.profile.UserProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppNetworkForPhotographers.NoActionBar" />
        <activity
            android:name=".controllers.profile.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppNetworkForPhotographers.NoActionBar" />
        <activity
            android:name=".controllers.photographer.SubscriptionActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppNetworkForPhotographers.NoActionBar" />
        <activity
            android:name=".controllers.profile.EditProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppNetworkForPhotographers.NoActionBar" />
        <activity
            android:name=".controllers.profile.SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppNetworkForPhotographers.NoActionBar" />
        <activity
            android:name=".controllers.post.AddPostActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppNetworkForPhotographers.NoActionBar" />
        <activity
            android:name=".controllers.blog.AddBlogActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppNetworkForPhotographers.NoActionBar" />
        <activity
            android:name=".controllers.post.PostCommentsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppNetworkForPhotographers.NoActionBar" />
    </application>

</manifest>